# Godot 4+ specific ignores
.godot/
game/bin/godotmidi/*
.sconsign*.dblite

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
