# Godot 4+ specific ignores
.godot/
game/addons/godot_midi/bin/*
.sconsign*.dblite
/bin

.idea/

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

tests/bin/*

# CMake build
.cmake/**
!.cmake/.gitkeep

# Other stuff
*.log

# GDExtension development
extension_api.json

*.exe